@font-face {
	font-family: "PP Woodland Bold";
	src: url('fonts/PPWoodland-Bold.woff') format(woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PP Woodland";
	src: url('fonts/PPWoodland-Ultralight.woff') format(woff);
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0px; padding: 0px;
	}
	
body {
	background-color: #848B66;
	}
	
body img.left1 {
	position: relative;
	width: 150px;
	height: auto;
	top: -1150px;
	right: -100px;
}

body img.left2 {
	position: relative;
	width: 130px;
	height: auto;
	top: -850px;
	left: -130px;
}

body img.left3 {
	position: relative;
	width: 130px;
	height: auto;
	top: -600px;
	left: -150px;
}

body img.right1 {
	position: relative;
	width: 150px;
	height: auto;
	top: -1075px;
	left: 1110px;
}

body img.right2 {
	position: relative;
	width: 150px;
	height: auto;
	top: -750px;
	left: 850px;
}

body img.right3 {
	position: relative;
	width: 150px;
	height: auto;
	top: -500px;
	left: 810px;
}
		
#wrapper {
	width: 1130px;
	margin: 0px auto;
		
	}
		
header {
	background-color: #EED5CE;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #848B66;
	font-family: 'PP Woodland Bold';
	font-size: 2em;
	padding: 0 20px;
	}
	
h1 {
	flex-grow: 1;
    text-align: center;
    margin: 0;
}

header img.left {
	width: 170px;
	height: auto;
}

header img.right {
	width: 170px;
	height: auto;
}

nav {
	background-color: #E8E4E1;
	min-height: 50px;
	text-align: right;
	}
	
ul .Login {
	font-family: 'PP Woodland Bold';
	color: #848B66;
	font-size: 1.6em;
	padding-top: 5px;
	padding-right: 100px;
}
		
#maincontent {
	background-color: #E8E4E1;
	min-height: 1200px;
	}
	