@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

@font-face {
	font-family: "PP Woodland Bold";
	src: url('fonts/PPWoodland-Bold.woff') format(woff);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PP Woodland";
	src: url('fonts/PPWoodland-Ultralight.woff') format(woff);
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0px; padding: 0px;
	}
	
body {
	background-color: #848B66;
	}
/*
body img.left1 {
	position: relative;
	width: 150px;
	height: auto;
	top: -1150px;
	right: -100px;
}

body img.left2 {
	position: relative;
	width: 130px;
	height: auto;
	top: -850px;
	left: -130px;
}

body img.left3 {
	position: relative;
	width: 130px;
	height: auto;
	top: -600px;
	left: -150px;
}

body img.right1 {
	position: relative;
	width: 150px;
	height: auto;
	top: -1075px;
	left: 1110px;
}

body img.right2 {
	position: relative;
	width: 150px;
	height: auto;
	top: -750px;
	left: 850px;
}

body img.right3 {
	position: relative;
	width: 150px;
	height: auto;
	top: -500px;
	left: 810px;
}
*/

#wrapper {
	max-width: 1130px;
	margin: 0px auto;
		
	}
	
@media (max-width: 1440px) { /*laptop large*/

	#wrapper {
		max-width: 65%;
		margin: 0px auto;
	}
	/*
	body img.left3 {
		position: relative;
		width: 130px;
		height: auto;
		top: -575px;
		left: -170px;
	}
	
	body img.right1 {
		position: relative;
		width: 150px;
		height: auto;
		top: -1075px;
		left: 850px;
	}
	
	body img.right2 {
		position: relative;
		width: 150px;
		height: auto;
		top: -750px;
		left: 625px;
	}
	
	body img.right3 {
		position: relative;
		width: 150px;
		height: auto;
		top: -500px;
		left: 555px;
	}
	*/
}

@media (max-width: 1024px) { /*laptop*/
	#wrapper {
		max-width: 70%;
		margin: 0px auto;
	}
	
	header img.left, header img.right {
		max-width: 140px !important;
		height: auto !important;
}
	
	ul li.Login {
		padding-top: 5px !important;
		font-size: 1.5em !important;
		padding-right: 5% !important;
		outline: 2px #848B66;
	}
	
	header {
		font-size: 170% !important;
	}
	.radio-section {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 90vh !important;
	}
	
	.quiz-question {
	font-family: 'PP Woodland Bold';
	font-size: 0.9em !important;
	margin: 25px 50px;
	color: #848B66;
	text-align: center;
}

	/*
	body img.left1 {
		position: relative;
		width: 120px;
		height: auto;
		top: -1150px;
		right: -75px;
	}
	
	body img.left2 {
		position: relative;
		width: 100px;
		height: auto;
		top: -925px;
		left: -120px;
	}
	
	body img.left3 {
		position: relative;
		width: 100px;
		height: auto;
		top: -675px;
		left: -130px;
	}
	
	body img.right1 {
		position: relative;
		width: 120px;
		height: auto;
		top: -1075px;
		left: 570px;
	}
	
	body img.right2 {
		position: relative;
		width: 120px;
		height: auto;
		top: -825px;
		left: 370px;
	}
	
	body img.right3 {
		position: relative;
		width: 120px;
		height: auto;
		top: -600px;
		left: 320px;
	}
	*/
}

@media (max-width: 768px) { /*tablet*/

	#wrapper {
		max-width: 75%;
		margin: 0px auto;
	}
	
	header img.left, header img.right {
		max-width: 130px !important;
		height: auto !important;
	}
	
	ul li.Login {
		padding-top: 10px !important;
		font-size: 1.3em !important;
		padding-right: 3% !important;
	}
	
	header {
		font-size: 160% !important;
	}
	
	.quiz-question {
	font-family: 'PP Woodland Bold';
	font-size: 0.8em !important;
	margin: 25px 50px;
	color: #848B66;
	text-align: center;
	}

	.quiz-question106 {
	font-family: 'PP Woodland Bold';
	font-size: 0.6em !important;
	color: #848B66;
	text-align: center;
	}
	
	.radio-item label {
	display: block;
	padding: 20px 60px;
	background: #848B66;
	border-radius: 15px;
	cursor: pointer;
	font-size: 15px !important;
	font-weight: 400;
	min-width: 250px;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
}

	/*
	body img.left1 {
		position: relative;
		width: 80px;
		height: auto;
		top: -1150px;
		right: -15px;
	}
	
	body img.left2 {
		position: relative;
		width: 60px;
		height: auto;
		top: -945px;
		left: -80px;
	}
	
	body img.left3 {
		position: relative;
		width: 60px;
		height: auto;
		top: -750px;
		left: -115px;
	}
	
	body img.right1 {
		position: relative;
		width: 80px;
		height: auto;
		top: -1075px;
		left: 475px;
	}
	
	body img.right2 {
		position: relative;
		width: 80px;
		height: auto;
		top: -850px;
		left: 380px;
	}
	
	body img.right3 {
		position: relative;
		width: 80px;
		height: auto;
		top: -680px;
		left: 305px;
	}
	*/
}

@media (max-width: 430px) { /*mobile L*/
	

	#wrapper {
		max-width: 100%;
		margin: 0px auto;
	}
	
	header img.left, header img.right {
		max-width: 75px !important;
		height: auto !important;
	}
	
	header {
		font-size: 100% !important;
	}
	nav {
		outline: 2px solid #848B66;
	}
	/*
	body img.left1 {
		display: none;
	}
	
	body img.left2 {
		display: none;
	}
	
	body img.left3 {
		display: none;
	}
	
	body img.right1 {
		display: none;
	}
	
	body img.right2 {
		display: none;
	}
	
	body img.right3 {
		display: none;
	}
	*/
}

@media (max-width: 380px) { /*mobile M*/

	header {
	font-size: 80% !important;
	}
	header img.left, header img.right {
		max-width: 60px !important;
		height: auto !important;
	}
	
	/*
	body img.left1 {
		display: none;
	}
	
	body img.left2 {
		display: none;
	}
	
	body img.left3 {
		display: none;
	}
	
	body img.right1 {
		display: none;
	}
	
	body img.right2 {
		display: none;
	}
	
	body img.right3 {
		display: none;
	}
	*/
}
		
header {
	background-color: #EED5CE;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #848B66;
	font-family: 'PP Woodland Bold';
	font-size: 2em;
	padding: 0 20px;
	}
	
h1 {
	flex-grow: 1;
    text-align: center;
    margin: 0;
}

header img.left {
	max-width: 170px;
	height: auto;
}

header img.right {
	max-width: 170px;
	height: auto;
}

nav {
	background-color: #E8E4E1;
	min-height: 50px;
	text-align: right;
	outline: 2px solid #848B66;
}
	
ul li.Login {
	display:inline;
	font-family: 'PP Woodland Bold';
	color: #848B66;
	font-size: 1.6em;
	padding-top: 5px;
	padding-right: 100px;
}
		
#maincontent {
	background-color: #E8E4E1;
	min-height: 1200px;
  padding:10px;

}
	
#lessoncontent {
	padding: 5px;
}

#code-block {
	background-color: white;
	padding: 10px;
	border-color: black;
	border-block-width: 2px;
	border-radius:10px;
	border-style:solid;
	width:fit-content;
}
	
/* 220 Content Styling */

#lessonHeader220 {
	font-family: 'PP Woodland Bold';
	font-size: 2em;
	color: #848B66;
	text-align: center;
}

#intro {
	font-family: 'Alegreya';
	padding-left: 15px;
}

#conversions {
	font-family: 'Alegreya';
	padding-left: 15px;
}

/* new content */

/* welcome section styling */
#welcome {
	text-align: center;
	font-family: 'Alegreya';
	padding: 60px 20px;
	color: #848B66;
}

	#welcome h2 {
		font-family: 'PP Woodland Bold';
		font-size: 2em;
		margin-bottom: 20px;
	}

	#welcome p {
		max-width: 600px;
		margin: 0 auto 50px auto;
		font-size: 1em;
		line-height: 1.6;
	}

/* course box */
.course-box {
	background-color: #f9f5f3;
	border: 1px solid #F2DAD3;
	padding: 40px 180px;
	margin: 0 auto;
	max-width: 500px;
	border-radius: 10px;
}

	.course-box h3 {
		font-family: 'PP Woodland Bold';
		font-size: 1.4em;
		margin-bottom: 15px;
	}

	.course-box p {
		font-size: 1em;
		line-height: 1.5;
		/*margin-bottom: 30px;*/
	}

/* lesson button */
.lesson-btn {
	background-color: #848B66;
	color: #fff;
	font-family: 'PP Woodland Bold';
	font-size: 1em;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	/*z-index: 2;*/
}

	.lesson-btn:hover {
		background-color: #6d7553;
	}

/* go to main page button for title*/
.home-link {
	text-decoration: none;
	color: #848B66;
}

.hover-underline {
	text-decoration: none;
	color: #848B66;
	position: relative;
	display: inline-block;
	padding: 0 10px;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 2.5px;
  height: 100%;
  background: #848B66;
  top: 0;
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  left: 0;
  transform-origin: center;
}

.hover-underline::after {
  right: 0;
  transform-origin: center;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleY(1);
}
		

.quiz-question {
	font-family: 'PP Woodland Bold';
	font-size: 1em;
	margin: 25px 50px;
	color: #848B66;
	text-align: center;
}

.quiz-question106 {
	font-family: 'PP Woodland Bold';
	font-size: 0.7em;
	margin: 50px 75px;
	color: #848B66;
	text-align: center;
}



/*testing*/


.radio-section {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 90vh !important;
	}
h1 {
	margin-bottom: 20px;
}
.radio-item [type="radio"] {
	display: none;
}

.radio-item + .radio-item {
	margin-top: 15px;
}

.radio-item label {
	display: block;
	padding: 20px 60px;
	background: #848B66;
	border-radius: 15px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	min-width: 250px;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
}
.radio-item label:after,
.radio-item label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height: 19px;
	width: 19px;
	border: 2px solid #FFFFFF;
	left: 19px;
	top: calc(50% - 12px);
}
.radio-item label:before {
	background: #FFFFFF;
	height: 20px;
	width: 20px;
	left: 21px;
	top: calc(50%-5px);
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
	border-color: #FFFFFF;
}
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.radio-item label:hover {
	background-color: #6d7553;
}
.Answers {
	font-family: "Alegreya";
	color: #FFFFFF;
}

.submit-btn {
	position: relative;
	background-color: #848B66;
	color: #fff;
	font-family: 'PP Woodland Bold';
	font-size: 2em;
	padding: 12px 24px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: block;
	margin: 0 auto;
	top: -50px;
}

.submit-btn:hover {
	background-color: #6d7553;
}

.your-score {
	font-family: 'PP Woodland Bold';
	font-size: 2.5em;
	margin-top: 125px;
	color: #848B66;
	text-align: center;
}

.score {
	font-family: 'PP Woodland Bold';
	font-size: 2em;
	margin-top: 50px;
	color: #848B66;
	text-align: center;
}

.return-btn {
	position: relative;
	background-color: #848B66;
	color: #fff;
	font-family: 'PP Woodland Bold';
	font-size: 1.5em;
	padding: 12px 24px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: block;
	margin: 0 auto;
	bottom: -50px;
}

.return-btn:hover {
	background-color: #6d7553;
}

.textSwapContainer {

	position: relative; 
	font-size: 1em; 
	min-height: 10em; 
	width: 100%; 
	height: 100%;
	justify-content: center;
	align-items: center;
	white-space: normal;
	display: flex; 
	flex-direction: column;
}

.transitionText {

	position: absolute;
	z-index: 1;
	transition: opacity 0.8s ease; 
	width: 100%; 
	font-size: 1em; 
	display: flex; 
	white-space: normal;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.firstDisplay {

	opacity: 1; 
	width: 100%;
	display: block;
}

.hoverText {

	opacity: 0; 
	width: 100%;
	display: block;
	pointer-events: none;
}

.firstDisplay h3, 
.firstDisplay p, 
.hoverText h3, 
.hoverText p {

	display: block; 
}

.textSwapContainer:hover .firstDisplay {
	opacity: 0;
}

.textSwapContainer:hover .hoverText {
	opacity: 1;
}

.hoverText.show, .hoverText:hover {
	opacity: 1; 
	pointer-events: auto; 
}